.jumbotron {
    background-image: url('../../../../assets/img/home-banner.jpg');
    background-size: cover;
    min-height: 380px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0px 3px 3px 0px #cfcfcf;
}
